<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <style>
        .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
    </style>
</head>

<body>

<div class="container">

    <h3>List Employees</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${Employes}">
            <td th:text="${employee.employeeId}" />
            <td th:text="${employee.name}" />
            <td th:text="${employee.role}" />
        </tr>
        </tbody>

    </table>
    <a th:href="@{/manageEmployee}">
        <center><button class="GFG">
            Manage Employees
        </button></center>
    </a>

</div>


</body>

</html>